html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: #d33682;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

a {
  text-decoration: none;
}
a.submit {
  padding: 0.5em 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

table {
  margin: 1em 0;
}
table th, table td {
  padding: 0.3em 1em;
  border: #002b36 1px solid;
}
table thead {
  background: #b58900;
  color: #fdf6e3;
  font-weight: bold;
}
table tbody {
  color: #002b36;
}
table tbody tr:nth-child(even) {
  background: #eee8d5;
}

form fieldset {
  overflow: hidden;
  *zoom: 1;
}
form fieldset ul {
  width: 65.51724%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
form fieldset ul li {
  overflow: hidden;
  *zoom: 1;
  color: #268bd2;
}
form fieldset ul li label {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  font-size: 1.2em;
  padding: 0.5em 0;
}
form fieldset ul li input, form fieldset ul li select {
  width: 73.68421%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eee8d5;
  font-size: 1.3em;
  padding: 0.3em;
  color: #93a1a1;
}

.actions {
  padding: 0.5em 0;
}

.submit {
  cursor: pointer;
  color: #fdf6e3;
  background: #268bd2;
  margin: 1em 0;
}
.submit:hover {
  background: #fdf6e3;
  color: #268bd2;
}

.receipt-type-totals {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
  overflow: hidden;
  *zoom: 1;
  margin: 1em 0;
}
.receipt-type-totals dt {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
  font-weight: bold;
  color: #2aa198;
  padding: 0.3em 0;
}
.receipt-type-totals dd {
  width: 48.27586%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding: 0.3em 0;
}

.total {
  border-top: 1px solid #002b36;
}

.receipt-form {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

.receipts {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

body {
  font: 16px Arial, Helvetica, sans-serif;
  color: #002b36;
  background: #fdf6e3;
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
